.label {
    font-weight: bold;
    display: block;
}

.movieproperty {
    margin-bottom: 3px;
}

.imageview {
    background-repeat: no-repeat;
    background-size: contain;
    height: 200px;
    margin: 2px;
}

.movie {
    border-radius: 5px;
}